{% extends 'base/base.html' %}

{% block homecontent %}

<div class="container ">
    <h1 class="border-bottom mt-5 text-white">Skilles</h1>


    <div class="text-white row mt-5">
        <div class="col-sm-5">
            <h3 class="border-bottom mt-5 text-white">Html</h3>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

        </div>

        <div class="col-sm-5 offset-2">
            <h3 class="border-bottom mt-5  text-white">Python</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">85%</div>
            </div>
        </div>
    </div>
    <div class="text-white row mt-5">
        <div class="col-sm-5">
            <h3 class="border-bottom mt-5 text-white">Css</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">45%</div>
            </div>

        </div>

        <div class="col-sm-5 offset-2">
            <h3 class="border-bottom mt-5  text-white">Html</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    <div class="text-white row mt-5">
        <div class="col-sm-5">
            <h3 class="border-bottom mt-5 text-white">Html</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>

        </div>

        <div class="col-sm-5 offset-2">
            <h3 class="border-bottom mt-5  text-white">Html</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    <div class="text-white row mt-5">
        <div class="col-sm-5">
            <h3 class="border-bottom mt-5 text-white">Html</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>

        </div>

        <div class="col-sm-5 offset-2">
            <h3 class="border-bottom mt-5  text-white">Html</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
</div>



{% endblock homecontent %}