{% extends 'base/base.html' %}

{% block homecontent %}

<div class=" container mt-5 text-white">
    <h1 class="text-warning border-bottom">Services</h1>

    <div class="row my-4 text-center">
        <div class="services col-sm-3 offset-1  text-center border border-warning rounded-5 m-3"><i
                class="fas fa-search-dollar fa-3x  m-3 green"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>
        </div>

        <div class="services col-sm-3 offset-1 text-center  border border-warning rounded-5 m-3 ">
            <i class="fa-brands fa-js fa-3x  m-3 green"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>

        </div>

        <div class="services col-sm-3 offset-1 text-center border border-warning rounded-5 m-3 "><i
                class="fa-brands fa-python fa-3x  m-3 green"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>

        </div>


    </div>

    <div class="row my-4">
        <div class="services col-sm-3 offset-1   text-center border border-warning rounded-5 m-3"><i
                class="fas fa-search-dollar fa-3x green m-3"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>

        </div>

        <div class="services col-sm-3 offset-1  text-center border border-warning rounded-5 m-3 "><i
                class="fas fa-search-dollar fa-3x green m-3"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>
        </div>
        <div class="services col-sm-3 offset-1  text-center border border-warning rounded-5 m-3 "><i
                class="fas fa-search-dollar fa-3x green m-3"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>
        </div>


    </div>
    <div class="row  my-4">
        <div class="services col-sm-3 offset-1  text-center border border-warning rounded-5 m-3 mx-2"><i
                class="fas fa-search-dollar fa-3x green m-3"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>
        </div>

        <div class="services col-sm-3 offset-1  text-center border border-warning rounded-5 m-3 "><i
                class="fas fa-search-dollar fa-3x green m-3"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>
        </div>

        <div class="services col-sm-3 offset-1  text-center border border-warning rounded-5 m-3 "><i
                class="fas fa-search-dollar fa-3x green m-3"></i>
            <h1>SEO</h1>
            <p class="text-center">sapiente, provident praesentium hic voluptatem ut delectus, itaque et.</p>
        </div>

    </div>
</div>


{% endblock homecontent %}